In [18]:
load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [19]:
%%sql 
mysql+pymysql://instructor:password@localhost/
drop database if exists lecture2;
create database lecture2;
use lecture2;

2 rows affected.
1 rows affected.
0 rows affected.

[]

# Create Table Construct

In [20]:
%%sql
create table instructor (
    ID         char(5),
    name       varchar(20),
    dept_name  varchar(20),
    salary     numeric(8,2)
)

 * mysql+pymysql://instructor:***@localhost/
0 rows affected.

[]

# List Tables

If you want to show the tables in your database, use the `show tables` command.

In [21]:
%%sql 
show tables;

 * mysql+pymysql://instructor:***@localhost/
1 rows affected.

[('instructor',)]

In [22]:
%%sql 
create table department (
     dept_name varchar(20),
     primary key (dept_name)
);

 * mysql+pymysql://instructor:***@localhost/
0 rows affected.

[]

In [23]:
%%sql 
show tables;

 * mysql+pymysql://instructor:***@localhost/
2 rows affected.

[('department',), ('instructor',)]

# Describe Tables

If you want to see a description of a table, use the `desc <tablename>` command.

In [24]:
%%sql 
desc instructor;

 * mysql+pymysql://instructor:***@localhost/
4 rows affected.

[('ID', 'char(5)', 'YES', '', None, ''),
 ('name', 'varchar(20)', 'YES', '', None, ''),
 ('dept_name', 'varchar(20)', 'YES', '', None, ''),
 ('salary', 'decimal(8,2)', 'YES', '', None, '')]

In [25]:
%%sql 
desc department;

 * mysql+pymysql://instructor:***@localhost/
1 rows affected.

[('dept_name', 'varchar(20)', 'NO', 'PRI', None, '')]

# Delete Table

In [26]:
%%sql 
drop table instructor;

 * mysql+pymysql://instructor:***@localhost/
0 rows affected.

[]

What happens if you try to drop a table that doesn't exist?

In [27]:
%%sql 
drop table offices;

 * mysql+pymysql://instructor:***@localhost/

InternalError: (pymysql.err.InternalError) (1051, "Unknown table 'lecture2.offices'")
[SQL: drop table offices;]
(Background on this error at: http://sqlalche.me/e/2j85)

So we have an alternative syntax that will drop it if it exists:

In [28]:
%%sql 
drop table if exists offices;

 * mysql+pymysql://instructor:***@localhost/
0 rows affected.

/usr/local/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1051, "Unknown table 'lecture2.offices'")
  result = self._query(query)

[]

In [29]:
%%sql 
show tables;

 * mysql+pymysql://instructor:***@localhost/
1 rows affected.

[('department',)]

# Integrity Constraints in Create Table

* not null
* primary key 
* foreign key

## Not Null

In [ ]:
%%sql
drop table if exists instructor;
create table instructor (
    ID         char(5),
    name       varchar(20) not null,
    dept_name  varchar(20),
    salary     numeric(8,2)
);

In [ ]:
%%sql 
desc instructor;

# Primary Key

In [ ]:
%%sql
drop table if exists instructor;
create table instructor (
    ID         char(5),
    name       varchar(20) not null,
    dept_name  varchar(20),
    salary     numeric(8,2),
    primary key (ID)
);

# Foreign Key

In [ ]:
%%sql
drop table if exists instructor;
create table instructor (
    ID         char(5),
    name       varchar(20) not null,
    dept_name  varchar(20),
    salary     numeric(8,2),
    primary key (ID),
    foreign key (dept_name) references department (dept_name)
);

In [ ]:
%%sql 
desc instructor;

# More Relation Definitions

In [ ]:
%%sql 
drop table if exists student;
create table student (
    ID                 varchar(5),
    name               varchar(20) not null,
    dept_name          varchar(20),
    tot_cred           numeric(3,0),
    primary key (ID),
    foreign key (dept_name) references department(dept_name)
);

In [17]:
%%sql 
drop table if exists course;
create table course (
    course_id        varchar(8)  ,
    title            varchar(50) ,
    dept_name        varchar(20) ,
    credits          numeric(2,0),
    primary key (course_id),
    foreign key (dept_name) references department(dept_name)
);

 * mysql+pymysql://instructor:***@localhost/
0 rows affected.
0 rows affected.

/usr/local/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1051, "Unknown table 'lecture2.course'")
  result = self._query(query)

[]

In [16]:
%%sql 
show tables;

 * mysql+pymysql://instructor:***@localhost/
1 rows affected.

[('department',)]

# Lecture 2b

First, let's recreate the instructor table -- this time with no foreign key.

In [32]:
%%sql 
drop table if exists instructor;
create table instructor (
    ID         char(5),
    name       varchar(20) not null,
    dept_name  varchar(20),
    salary     numeric(8,2),
    primary key (ID)
);

 * mysql+pymysql://instructor:***@localhost/
0 rows affected.
0 rows affected.

[]

# Show Tuples

In [40]:
%%sql 
select * from instructor;

 * mysql+pymysql://instructor:***@localhost/
0 rows affected.

[]

# Updates to Tables

## Insert

```sql
insert into instructor values (10211, Smith, Biology, 66000);
```

In [33]:
%%sql 
insert into instructor (ID, name, dept_name, salary) values ('10211', 'Smith', 'Biology', 66000);

 * mysql+pymysql://instructor:***@localhost/
1 rows affected.

[]

In [36]:
%%sql 
select * from instructor;

 * mysql+pymysql://instructor:***@localhost/
1 rows affected.

[('10211', 'Smith', 'Biology', Decimal('66000.00'))]

## Delete

Remove all tuples from the a relation

`delete from <table>`

In [41]:
%%sql 
delete from instructor;

 * mysql+pymysql://instructor:***@localhost/
0 rows affected.

[]

In [42]:
%%sql 
select * from instructor;

 * mysql+pymysql://instructor:***@localhost/
0 rows affected.

[]

## Delete Table

In [44]:
%%sql 
drop table instructor;

 * mysql+pymysql://instructor:***@localhost/
0 rows affected.

[]

In [47]:
%%sql 
show tables;

 * mysql+pymysql://instructor:***@localhost/
1 rows affected.

[('department',)]

In [48]:
%%sql 
desc department;

 * mysql+pymysql://instructor:***@localhost/
1 rows affected.

[('dept_name', 'varchar(20)', 'NO', 'PRI', None, '')]

## Alter

## Adding an Attribute 

alter table r add A D;

In [49]:
%%sql 
alter table department add ID char(3);

 * mysql+pymysql://instructor:***@localhost/
0 rows affected.

[]

In [51]:
%%sql 
desc department;

 * mysql+pymysql://instructor:***@localhost/
2 rows affected.

[('dept_name', 'varchar(20)', 'NO', 'PRI', None, ''),
 ('ID', 'char(3)', 'YES', '', None, '')]

## Dropping an Attribute 

alter table r drop A;

* where A is the name of an attribute in relation _r_
* Dropping of attributes is not supported by some databases

In [ ]:
%%sql 
alter table departmen